<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>
      {% block title %}

      {% endblock %}- FlaskApp
    </title>
    <!--     <style>

       

    </style>  -->
  </head>
  <body>
    <nav>
      <a href="{{ url_for('main.index') }}">FlaskApp</a>
      <a href="#">Posts</a>
      <a href="#">Categories</a>
      <a href="#">Questions</a>
    </nav>
    <hr />
    {% block content %}

    {% endblock %}
  </body>
</html>
